@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Share+Tech&family=Sriracha&display=swap');

:root {
    --corpreto: #0D0D0D;
    --corazulescuro: #012840;
    --corazulmediobaixo: #024873;
    --corazulmedioalto: #0367A6;
    --corazulciano: #41D2F2;

    --fontepadrao: 'Passion One', 'Cursive';
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fontepadrao);
}

body, html {
    background-image: linear-gradient(to right, var(--corpreto), var(--corazulmedioalto));
}

header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 92vw;
    height: 50vh;

    position: relative;
}

header > h1 {
    font-size: 50px;
    color: var(--corazulciano);
    text-shadow: 3px 0px 3px black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

nav > a  {
    text-decoration: none;
    margin: 70px;
    background-image: linear-gradient(to right, var(--corpreto), var(--corazulmediobaixo));
    color: var(--corazulciano);
    padding: 10px;
    border-radius: 10px;
}

nav > a:hover {
    border: 2px solid var(--corazulciano);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .3s, border 1s;
}